body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    font-family: Roboto, sans-serif;
    padding: 21px;
}

.github-link {
    font-weight: 300;
    font-size: 28px;
    color: black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

.header__title {
    font-size: 72px;
    font-weight: bold;
    margin: 5px 0;
}

.header__info {
    opacity: 0.45;
    font-size: 20px;
}

.header__left {
    padding-right: 15px;
}

.header__right {
    font-size: 24px;
}

.expression__input, .result {
    border-radius: 1px;
}

.expression__input, .expression__btn, .result {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 31px 22px 26px rgba(0, 0, 0, 0.25);
}

.expression {
    display: flex;
}

.expression__btn {
    border-left: none;
    background: lightgray;
    cursor: pointer;
    padding: 0 12px;
    white-space: nowrap;
    font-size: 20px;
}

.expression__btn:hover {
    background: #C4C4C4;
}

.expression__btn:active {
    background: lightgray;
}

.expression__btn:focus {
    outline: 0;
}

.expression, .result, .error {
    margin: auto;
    min-width: 300px;
    width: 70%;
    max-width: 1050px;
    margin-top: 26px;
    word-break: break-word;
}

.result {
    margin-top: 56px;
}

.result__item {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.result__item:not(:last-child) {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.result__item span {
    opacity: 0.5;
}

.result__item code {
    padding: 25px 0 25px 25px;
    font-size: 20px;
    font-weight: bold;
}

.expression__input {
    font-size: 20px;
    width: 100%;
    border-right: none;
    line-height: 2em;
    text-align: center;
}

.expression__input::placeholder {
    opacity: 0.25;
}

.error {
    background: #f4cbcb;
    color: red;
    padding: 15px;
}